<input-field
  (inputModelChange)="handleOnChange($event)"
  [(inputModel)]="externalValue"
></input-field>
<div
  class="infinite-scroll"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
  <div
    class="beer"
    *ngFor="let beer of filteredBeers"
  >
    <nav class="nav-beer">
      <a [routerLink]="['/beers', beer.id]" routerLinkActive="active">
        <h4>
          {{ beer.name }}
        </h4>
      </a>
    </nav>
    <p>
      {{ beer.tagline }}
    </p>
    <img src="{{beer.image_url}}">
  </div>
</div>
