<div class="beer-detail">
  <h2>Beer detail</h2>
  <div *ngIf="beerDetail; else elseBlock">
    <p>Name: {{ beerDetail.name }}</p>
    <p>Description: {{ beerDetail.description }}</p>
    <p>First brewed: {{ beerDetail.first_brewed }}</p>
    <p>{{ beerDetail.image_url }}</p>
    <p>{{ beerDetail.food_pairing }}</p>
    <p>Alcohol by volume: {{ beerDetail.abv }}</p>
    <p>International Bitterness Units: {{ beerDetail.ibu }}</p>
    <p>Contributed by: {{ beerDetail.contributed_by }}</p>
    <beer-button (onClick)="backClicked($event)" label="Go back"></beer-button>
    <beer-button (onClick)="toggleDifference($event)" label="Toggle difference"></beer-button>
  </div>
  <ng-template #elseBlock>
    Ups, something happen with the data.
    <beer-button (onClick)="backClicked($event)" label="Go back"></beer-button>
  </ng-template>
</div>
